name: Publish to NPM

on:
  release:
    types: [created]

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js (20.x with npm 11+)
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          check-latest: true
          registry-url: 'https://registry.npmjs.org'
          always-auth: true

      # Surtout pas de "npm install -g npm@latest" ici

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Publish to NPM
        run: npm publish --provenance --access public
